*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /* border: 1px solid red; */
  background: #f8f8f4;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #2c2c2c;
}

.counter-container {
  text-align: center;
  margin: 2rem;

  min-height: 50vh;
    width: 80vh;
    background: #695959;
    border-radius: 15px;
    transition: all ease 0.2s;
    border: 1px solid #333;
    box-shadow: 0px 5px 10px 0px rgba(255, 0, 187, 0.062);
    padding: 3vh;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 2rem;
}

.counter button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.actions button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: none;
  background-color: #032b55;
  color: white;
  cursor: pointer;
}

.actions input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #007bff;
}